<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>VUEJS</title>
</head>

<body>
    <div id="app">

        <div class="container">
        <input v-model='filtroCategoria' class='my-4' type="text" placeholder="Precio">
        El valor de filtroCategoria es: {{filtroCategoria}}    
        <div class="row">
                <div class="producto col-4" v-for='(producto, clave) in productos' v-if="producto.categoria.toLowerCase() == filtroCategoria.toLowerCase() || !filtroCategoria">
                    <img class='w-100' v-bind:src="producto.img" v-bind:alt="producto.nombre">
                    <h2>{{producto.nombre}}</h2>
                    <small>{{producto.categoria}}</small>
                    <p>${{producto.precio}}</p>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>